.container {
    width: 100%;
    min-height: 200vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 999;
}

.box {
    width: 1100px;
    height: min-content;
    display: flex;
    justify-content: space-between;
    background-color: #F5F5F7;
    padding: 80px 80px 0px 80px;
}

.h2 {
    width: 300px;
    font-size: 38px;
    color: #1D1D1F;
}

.p {
    width: 300px;
}

.h22 {
    text-align: center;
    width: 100%;
    font-size: 38px;
    padding: 100px 0;
    color: #1D1D1F;
}

/* ------ WHATCHES */

.watches {
    display: flex;
    align-items: center;
    gap: 50px;
    text-align: center;
}

.watchDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 50px;
    border-bottom: 1px solid gray;
}

.desc2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.btn {
    background-color: #0071E3;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
}

.mais {
    color: #0071E3;
    text-decoration: underline;
}