.container {
    display: flex;
    flex-direction: column;
}

.sticky {
    height: 500vh;
    position: relative;
    display: flex;
    justify-content: center;
}

.into {
    position: sticky;
    top: 50%;
    height: 100vh;
}

.h1 {
    width: 100%;
    font-weight: bold;
}

.appleDesc {
    width: 100%;
    top: 50%;
    font-size: 3rem;
    font-weight: 500;
}

.apple {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
}

/* === */
.start {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #00D959;
}

.startImages {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 80px;
}

.startDesc {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 200px;
    gap: 100px;
}

.startLeft {
    min-width: 50%;
}

.startRight {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.h1Desc {
    width: 500px;
    font-weight: bold;
    display: flex;
    align-items: left;
}

.startH2 {
    width: 300px;
    font-size: 40px;
    color: #1D1D1F;
}

.startH6 {
    width: 400px;
    font-size: 18px;
    color: #6E6E73;
}

.btn {
    background-color: #00D959;
    color: #000;
    font-weight: 600;
    border: 0;
    /* padding: 10px 20px; */
    width: 110px;
    height: 35px;
    border-radius: 15px;
    cursor: pointer;
}

/* ULTIMA SECTION */
.last {
    display: flex;
    flex-direction: column;
    /* padding:0 20%; */
}

.box {
    padding: 100px 0;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    display: flex;
    flex-direction: column;
}

.boxLeft {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.boxRight {
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: column;
    color: #6E6E73;
}

.boxLeft,
p {
    font-size: 18px;
    font-weight: 500;
}

.p {
    font-size: 32px;
}



.h4 {
    font-size: 24px;
    max-width: 480px;
    color: #6E6E73;
}

.redWatch {
    width: 100%;
}