.container {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.zoomDiv {
    height: 100vh;
    width: 100%;
    background-color: #102418;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sticky {
    height: 300vh;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #000;
    overflow: hidden;
}

.into {
    position: fixed;
    display: flex;
    gap: 10px;
    height: 100vh;
}

.h1Info {
    width: 100%;
    font-weight: bold;
    color: #1D1D1F;
    font-size: 48px;
}

.h1Zoom {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 68px;
    color: red;
}

.appleDesc {
    width: 100%;
    top: 50%;
    font-size: 3rem;
    font-weight: 500;
}

.apple {
    position: absolute;
    top: 50%;
    left: 40%;
    width: 200px;
    overflow: hidden;
}


/* === */
.start {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #00D959;
    z-index: 9999;
}

.startImages {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 80px;
}

.startDesc {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 200px;
    gap: 100px;
}

.startLeft {
    min-width: 50%;
}

.startRight {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.h12023 {
    /* position: absolute; */
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 68px;
    color: #fff;
}

.h1Desc {
    width: 500px;
    font-weight: bold;
    display: flex;
    align-items: left;
}

.startH2 {
    width: 300px;
    font-size: 40px;
    color: #1D1D1F;
}

.startH6 {
    width: 400px;
    font-size: 18px;
    color: #6E6E73;
}

.btn {
    background-color: #00D959;
    color: #000;
    font-weight: 600;
    border: 0;
    width: 110px;
    height: 35px;
    border-radius: 15px;
    cursor: pointer;
}

/* ULTIMA SECTION */
.last {
    display: flex;
    flex-direction: column;
    z-index: 9999;
}

.box {
    padding: 100px 0;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    display: flex;
    flex-direction: column;
}

.boxLeft {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.boxRight {
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: column;
    color: #6E6E73;
}

.boxLeft,
p {
    font-size: 18px;
    font-weight: 500;
}

.p {
    font-size: 32px;
}



.h4 {
    font-size: 24px;
    max-width: 480px;
    color: #6E6E73;
}

.redWatch {
    width: 100%;
    z-index: 9999;
}


/* =========MOBILE */
@media screen and (max-width: 985px) {

    /* ====First Section */
    .apple {
        width: 150px;
    }

    .h12023 {
        font-size: 44px;
    }

    .start1 {
        width: 90%;
    }

    .logo {
        width: 50%;
    }

    .startDesc {
        width: 90%;
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .startRight {
        align-items: center;
    }

    /* GENERAL STYLE */
    p {
        font-size: 20px;
    }

    .p {
        font-size: 20px;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 20px;
    }

    .h4 {
        font-size: 18px;
    }

    h4 {
        font-size: 18px;
    }

    /* === RED WATCH SECTION */
    .box {
        width: 90%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .boxLeft {
        align-items: center;
    }
}

@media screen and (max-width: 650px) {
    .into {
        gap: 3px;
    }

    .h12023 {
        font-size: 22px;
    }

    .apple {
        width: 64px;
    }

    h1 {
        font-size: 20px;
    }

    .h1Desc {
        width: 100%;
    }

    .h4 {
        font-size: 12px;
    }
    .p{
        font-size: 12px;
    }
}