.container {
    min-height: 150vh;
    display: flex;
    flex-direction: column;
}

.box {
    width: 980px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
}

.p {
    font-size: 32px;
}

.h1 {
    width: 100%;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.h4 {
    font-size: 24px;
    width: 500px;
    color: #6E6E73;
}

.mid {
    display: flex;
    padding: 50px 0;
}