* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

html,
body {
    background-color: yellow;
}

.fff {
    color: #fff;
    font-weight: bold;
}

.black {
    color: #1D1D1F;
    font-weight: bold;
}

h1 {
    color: #1D1D1F;
    font-size: 48px;
}